body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    line-height: 25px;
  
    color: rgb(66, 65, 65);
    
}
.color{
    color: orange;
}

.paragraph1{
    width: 90%;
    text-align: justify;
   
    color: rgb(66, 65, 65);
    
    
}
.flexible-container{
    display: flex;
    padding-left: 5%;
    
}
.half-width{
    width: 50%;
   
    
}
.link-button{
    background-image: linear-gradient(tomato,orange);
    padding: 15px 40px;
    text-decoration: none;
    color: white;
    font-weight: 200;
    border-radius: 100px;
    font-size: 20px;
   
}
.link-button:hover{
    background-image:linear-gradient(lightsalmon,tomato);
    
}

.half-width img{
    width: 50%;
   
     
    
}
.background{
    background-image: url(../img/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.about{
    font-size: 30px;
    color: rgb(66, 65, 65);
    margin-top: 270px;
}
.paragraph2{
   
    text-align: justify;
    width: 80%;
    color: rgb(66, 65, 65);
    

}
#me{
    margin-top: 100px;
    padding-left: 4%;
}

h3{
    color:rgb(66, 65, 65); 
    font-size: 30px;
    text-align: center;
    
}
.about-recipie{
    width: 100%;
    margin-top: 80px;
}
.paragraph3{
    text-align: center;
    width: 40%;
    margin: 0px auto 0px;
    color:rgb(66, 65, 65) ;
}

.food-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-description{
    width: 20%;
    padding: 3%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 5%;
    box-shadow: 10px 10px 25px rgb(199, 198, 198);
}
.food-description:hover{
    background-color: rgb(248, 238, 238);
}

.image{
    height: 200px;
    width: 100%;
}
.paragraph{
    text-align: justify;
}
.contact-info{
    width: 100%;
    background-image: linear-gradient(rgb(250, 224, 219),rgb(252, 245, 232));
    margin-top: 70px;
    overflow: hidden;
}
.contact-way{
    display: flex;
}
.contact-form{
    
    width: 50%;
    margin-bottom: 40px;

}

.contact-form h2{
    
    margin-top: 100px;
    color: rgb(66, 65, 65);
    font-size: 30px;
    margin-left: 400px;
    
}
.contact-form form{
    margin-left: 40%;
}

.contact-form input {
    display: block;
    margin-bottom: 30px;
    width: 400px;
    height: 40px;
    padding: 10px;
    outline: none;
}
.contact-form textarea{
    
    width: 400px;
    margin-bottom: 30px;
    padding: 10px;
    outline: none;


}
.contact-form button{
    width: 150px;
    height: 40px;
    color: white;
    background-image: linear-gradient(tomato,orange);
    
    border-radius: 100px;
    border: none;
    font-size: 20px;
    display: block;
}
.contact-form button:hover{
    background-image:linear-gradient(lightsalmon,tomato);
    
}
.contact-form img{
    width: 70%;
    height: 465px;
    margin-top: 165px;
}
.container{
    width: 100%;
}
.main-body{
    display: flex;
    width: 100%;
    text-align: center;
}
.h{
    width: 20%;
    margin: 40px auto 0px;
 border-bottom: 2px solid black;

}
.images-display{
    margin: 50px auto;
    
}
.footer{
    background-color: rgb(19, 18, 18);
    text-align: center;
    overflow: hidden;
}

.orange-color{
 color: orange;
 font-size: 40px;
 text-transform: uppercase;
  

}
.heading{
    color:rgb(80, 79, 79) ;
    font-size: 40px;
    margin-top: 90px;
    text-transform: uppercase ;
}
.paragraph4{
    margin: 0px auto 70px;
    color:white ;
    font-size: 25px;
    
}




  

